@model IEnumerable<TreeTrackerNet.Models.TreeObservation>

@{
    ViewBag.Title = "Index";
}

<h2>Tree Observations for @ViewBag.TreeName</h2>

<p>
    @Html.ActionLink("Create New Obsevation", "Create")
</p>
<table class="table">
    <tr>
       <th>
            @Html.DisplayNameFor(model => model.DateObserver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Watered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fertalized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrunkMeasurement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateObserver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Watered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fertalized)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrunkMeasurement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
